@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




:root {

  /*Gradient Colors Theme 1 */
  --gradientTheme1Color1 : #AE04EA;
  --gradientTheme1Color2 : #9B54F5;
  --gradientTheme1Color3 : #6704CC;
  --gradientTheme1Color4 : #6B03B0;

  /*Gradient Colors Theme 2 */
  --gradientTheme2Color1 : #71b4c4;
  --gradientTheme2Color2 : #99c9d4;
  --gradientTheme2Color3 : #cbe2e7;
  --gradientTheme2Color4 : #67aebe;

  --gradientTheme2Color5 :#acb0f8;
  --gradientTheme2Color6: #9096f5;
  --gradientTheme2Color7: #9aa3f7;
  --gradientTheme2Color8: #cfd5fb;
  --gradientTheme2Color9: #7e8af2;



  /*Gradient Colors Theme 3 */

}


*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body {
  font-family: "Raleway", sans-serif;
}



header {
    width: 100vw;
    height: 100vh;
    /*background: rgb(174,4,234);
    background: linear-gradient(110deg, rgba(174,4,234,1) 0%, rgba(155,84,245,1) 38%, rgba(103,4,204,1) 69%, rgba(107,3,176,1) 85%, rgba(68,8,144,1) 89%, rgba(75,2,150,1) 100%);
    animation: gradient-animation 32s ease infinite;*/
  animation: animateBg 8s linear infinite;
  background-image: linear-gradient(90deg,var(--gradientTheme1Color1),var(--gradientTheme1Color2),var(--gradientTheme1Color3), var(--gradientTheme1Color4),var(--gradientTheme1Color4), var(--gradientTheme1Color1), var(--gradientTheme1Color2));
    background-size: 700% 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;



   

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.65;
        background-image: url('../css/noise.svg');
        transition: opacity 0.3s ease-in-out; /* Transición añadida */
    }
  }





@keyframes animateBg {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}


.left-side {
     top: 0;
     left: 0;
    bottom: 0;
    right: 0;
    width: 120dvw;
    height: 110dvh;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    color: #fff;
     background: rgb(158,9,233);
    background: linear-gradient(106deg, rgba(158,9,233,1) 0%, rgba(140,4,132,1) 36%, rgba(164,84,172,1) 48%, rgba(208,150,208,1) 85%, rgba(148,4,140,1) 100%); 
    filter: drop-shadow(5px 5px 15px black);
    transform: translate(-215px, -180px) rotate(50deg);
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, filter 0.5s ease-in-out; /* Transiciones añadidas */

}


.left-side img {
    margin: 0;
    padding: 0;
    max-width: 200px;
    transform: translate(30px 0);
    filter: drop-shadow(5px 5px 5px black);
}


.container-text {
    position: absolute;
    z-index: 1;
    max-width: 390px;
    transform: translate(60px, 100px) rotate(-50deg);
    

}

.circle-face:nth-of-type(2) {
    position: absolute;
    z-index: 99;
    width:  100px;
    height: 100px;
    transform: translate(360px, 430px) rotate(-50deg);
    border-radius: 200px;
    background: url('../img/chad-greiter--0gBnnMdQPw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quotation-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  height: 25px;
  font-size: 5rem;
}

.quotation-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px 300px;
  padding: 0;
  height: 25px;
  font-size: 5rem;
}


.circle-face-right-1 {
 position: absolute;
  z-index: 3;
  width:  100px;
  height: 100px;
  border-radius: 150px;
  transform: translate(150px, 400px);
  background-image: url('../img/yashraj-pany-YXA_sBhJX5E-unsplash.jpg') !important;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(5px 10px 10px #000000);
}

.circle-face-right-2 {
 
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  transform: translate(100px, 450px);
  border-radius: 100px;
  background-image: url('../img/andrey-zvyagintsev-byfNhh81CWU-unsplash.jpg') !important;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(5px 10px 10px #000000);
}


.circle-face-right-3 {

}






/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  /*box-shadow: 0px 5px 10px 0px #aaa;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #fff;
  opacity: 0.85;
  height: 50px;
  text-transform: capitalize;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  align-items: center;

}






@media (max-width: 768px) {

  .menu-items a:hover {
    color: black;
    background: white;
  }


  .navbar {.menu-items li {
  list-style: none;
  margin-left: 10rem;
  margin-bottom: 0.5rem;
  font-size: 100%;
}

    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: fixed;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;.menu-items li {
  list-style: none;
  margin-left: 10rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

    opacity: 0;
  }

  .navbar-container .hamburger-lines {

    height: 23px;
    width: 35px;
    position: fixed;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: black;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
   
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 500;
    
  }



  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }



@media (max-width: 500px) {
  html {
    font-size: 100%;
  }


  

  .menu-items a:hover {
    color: black;
    background: white;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  
  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    
  }
}

}

