@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');





:root {

  /*Gradient Colors Theme 1 */
  --gradientTheme1Color1 : #AE04EA;
  --gradientTheme1Color2 : #9B54F5;
  --gradientTheme1Color3 : #6704CC;
  --gradientTheme1Color4 : #6B03B0;

  /*Gradient Colors Theme 2 */
  --gradientTheme2Color1 : #71b4c4;
  --gradientTheme2Color2 : #99c9d4;
  --gradientTheme2Color3 : #cbe2e7;
  --gradientTheme2Color4 : #67aebe;

  --gradientTheme2Color5 :#acb0f8;
  --gradientTheme2Color6: #9096f5;
  --gradientTheme2Color7: #9aa3f7;
  --gradientTheme2Color8: #cfd5fb;
  --gradientTheme2Color9: #7e8af2;



  /*Gradient Colors Theme 3 */

}


*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  
}

body {
  font-family: "Raleway", sans-serif;
}



header {
    width: 100vw;
    height: 100vh;
    /*background: rgb(174,4,234);
    background: linear-gradient(110deg, rgba(174,4,234,1) 0%, rgba(155,84,245,1) 38%, rgba(103,4,204,1) 69%, rgba(107,3,176,1) 85%, rgba(68,8,144,1) 89%, rgba(75,2,150,1) 100%);
    animation: gradient-animation 32s ease infinite;*/
  animation: animateBg 8s linear infinite;
  background-image: linear-gradient(90deg,var(--gradientTheme1Color1),var(--gradientTheme1Color2),var(--gradientTheme1Color3), var(--gradientTheme1Color4),var(--gradientTheme1Color4), var(--gradientTheme1Color1), var(--gradientTheme1Color2));
    background-size: 700% 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;



   

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.65;
        background-image: url('../css/noise.svg');
        transition: opacity 0.3s ease-in-out; /* Transición añadida */
    }
  }





@keyframes animateBg {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}



.left-side {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 110rem;
    height: 110rem;
    position: absolute;
    z-index: 1;
    transform: translateX(-65rem) translateY(-55rem) rotate(-50deg);
    background: rgb(158,9,233);
    background: linear-gradient(106deg, rgba(158,9,233,1) 0%, rgba(140,4,132,1) 36%, rgba(164,84,172,1) 48%, rgba(208,150,208,1) 85%, rgba(148,4,140,1) 100%); 
    filter: drop-shadow(5px 5px 15px black);
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, filter 0.5s ease-in-out; /* Transiciones añadidas */
}

.circle-face:nth-of-type(2) {
    position: absolute;
    z-index: 2;
    transform: rotate(50deg) translateX(90rem) translateY(45rem);
    min-width:  15%;
    min-height: 15%;
    background: url('../img/chad-greiter--0gBnnMdQPw-unsplash.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    filter: drop-shadow(5px 10px 10px #000000);
}


.bi {
  padding: 0;
  margin-right: 1rem;
  font-size: 2rem;
}

.circle-face-right-1 {
  position: absolute;
  z-index: 3;
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
  transform: translate(20rem, 35rem);
  background-image: url('../img/yashraj-pany-YXA_sBhJX5E-unsplash.jpg') !important;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(5px 10px 10px #000000);
}


.circle-face-right-2 {
  position: absolute;
  z-index: 3;
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
  transform: translate(20rem, 50rem);
  background-image: url('../img/andrey-zvyagintsev-byfNhh81CWU-unsplash.jpg') !important;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(5px 10px 10px #000000);
}

.circle-face-right-3 {
  position: absolute;
  z-index: 3;
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
  transform: translate(33rem, 42rem);
  background-image: url('../img/bacila-vlad-WTThc6UmwEI-unsplash.jpg') !important;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(5px 10px 10px #000000);
}





.container-text {
  width:  230px;
  height: 150px;
 transform: translateX(530px) translateY(680px) rotate(50deg);
  position: absolute;
  z-index: 5;
  font-size: 1.6rem;
  text-align: justify;
  color: #fff;
}

.right-triangle {
    position: fixed;
    z-index: 2;
    left: 80%;
    top: -15rem;
    width: 50rem;
    height: 60rem;
    background: rgb(252,4,252);
    background: linear-gradient(270deg, rgba(252,4,252,1) 0%, rgba(250,36,251,1) 0%, rgba(186,4,202,1) 37%, rgba(151,1,151,1) 50%, rgba(149,2,150,1) 62%, rgba(138,2,150,1) 86%); 
    transform: rotate(-50deg);
    box-shadow: -10px 0 20px 1px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    
}

.logo {
  filter: drop-shadow(5px 10px 10px #000);
}


.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;

}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  /*box-shadow: 0px 5px 10px 0px #aaa;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #fff;
  opacity: 0.85;
  height: 50px;
  text-transform: capitalize;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  align-items: center;

}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}


.menu-items a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
  width: 10px;
  padding: 5px;
}

.menu-items a:hover {
    background: black;
    color: white;
  transition: color 0.3s ease-in-out;
}




.text-container-right {
  text-decoration: dashed;
  text-overflow: ellipsis;
  filter: drop-shadow(5px 15px 5px black);

  max-width: 40rem;
  min-width: 35rem;
  height: 20rem;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 2.5rem;
  transform: translate(12rem, 70rem);
}

main {
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  overflow: hidden;
}

main .video-section {
    width: 100dvw;
    min-height: 100rem;
    margin: 0; 
    padding: 0;
    overflow: hidden;

}

.video-text-description .video-header {
text-align: center;
font-size: 2.3rem;
}

.myVideo {
    min-width: 100dvw;
    min-height: 100dvh;
    position: absolute;
    z-index: 2;
}

.video-text-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  height: 25rem;
  background: black;
  opacity: 0.5;
  position: absolute;
  bottom: -115dvh;
  z-index: 3;
}




.quotation-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 25px;
  font-size: 5rem;
}

.quotation-2 {
  font-family: 'Roboto', sans-serif;
  margin-left: 200px;
  padding: 0;
  height: 25px;
  font-size: 5rem;
}





.adn {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgb(103,174,190);
background: linear-gradient(270deg, rgba(103,174,190,1) 13%, rgba(203,226,231,1) 43%, rgba(153,201,212,1) 53%, rgba(153,201,212,1) 77%); 
  position: relative;
  z-index: 3;
  overflow: hidden;
    display: flex;

    justify-content: center;



  &::after {
     content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.85;
        background-image: url('../css/noise.svg');
        transition: opacity 0.3s ease-in-out; /* Transición añadida */
  }
}


.adn .blue-rect {
  width: 190%;
  height: 25rem;
   background: rgb(172,176,248);
background: linear-gradient(270deg, rgba(172,176,248,1) 0%, rgba(144,150,245,1) 0%, rgba(207,213,251,1) 37%, rgba(126,138,242,1) 69%); 
  transform: translate(10rem, 20rem) rotate(50deg);
box-shadow: 0 -5px 3px rgb(0, 0, 0, 0.3);
position: absolute;
z-index: 2;
}



.adn .green-rect {
  position: absolute;
  z-index: 1;
  width:  150rem;
  height: 40rem;
  transform: translate(-10rem, 0rem) rotate(-50deg);
   background: rgb(103,174,190);
background: linear-gradient(270deg, rgba(103,174,190,1) 13%, rgba(203,226,231,1) 43%, rgba(153,201,212,1) 53%, rgba(153,201,212,1) 77%); 
box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
}


.cards {
    display: flex;
    justify-content: center;
    text-align: center;
}


.our-team-card {
    width: 250px;
    height: 150px;
    background: black;
    position: absolute;
    top: 5rem;
    z-index: 3;

}

