*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background: rgb(174,4,234);
    background: linear-gradient(110deg, rgba(174,4,234,1) 0%, rgba(155,84,245,1) 38%, rgba(103,4,204,1) 69%, rgba(107,3,176,1) 85%, rgba(68,8,144,1) 89%, rgba(75,2,150,1) 100%);
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.45;
        background-image: url('../css/noise.svg');
        transition: opacity 0.3s ease-in-out; /* Transición añadida */
    }
}

.left-side {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 110rem;
    height: 110rem;
    position: absolute;
    transform: translateX(-65rem) translateY(-55rem) rotate(-50deg);
    background: rgb(158,9,233);
    background: linear-gradient(106deg, rgba(158,9,233,1) 0%, rgba(140,4,132,1) 36%, rgba(164,84,172,1) 48%, rgba(208,150,208,1) 85%, rgba(148,4,140,1) 100%); 
    filter: drop-shadow(5px 5px 15px black);
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, filter 0.5s ease-in-out; /* Transiciones añadidas */
}

.right-triangle {
    position: absolute;
    z-index: 1;
    left: 80%;
    top: -15rem;
    width: 50rem;
    height: 60rem;
    background: rgb(252,4,252);
    background: linear-gradient(270deg, rgba(252,4,252,1) 0%, rgba(250,36,251,1) 0%, rgba(186,4,202,1) 37%, rgba(151,1,151,1) 50%, rgba(149,2,150,1) 62%, rgba(138,2,150,1) 86%); 
    transform: rotate(-50deg);
    box-shadow: -10px 0px 20px 1px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Transiciones añadidas */
}

.menu {
    position: absolute;
    z-index: 2;
    left: 80%;
    top: 10%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #ffcc00;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 10rem;
    height: 0.63rem;
    background-color: #fff;
    margin: 3px 0;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.mobile-menu ul {
    padding: 0;
    list-style: none;
}

.mobile-menu li {
    padding: 15px;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
}

.mobile-menu a:hover {
    background-color: #555;
}
